extends layout

block content
  h1= title
  - let guitars= results; 
  button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/guitar/create\")`) Create
  table(class="table table-stripped table-bordered")
        thead(style="background-color:yellow; color:red;font-size:20px;font-family:calibri;") 
            tr
                td Guitar ID
                td Guitar GBrand
                td Guitar Gcolor
                td Guitar GCost 
                td Update
                td Details 
                td Delete
        tbody 
            each guitar in guitars
                - let destination = `dispatch(\"/guitar/update?id=${guitar._id}\")`
                tr
                    td #{guitar._id}
                    td #{guitar.GBrand}
                    td #{guitar.Gcolor}
                    td #{guitar.GCost}
                    td
                      button.btn( class="btn-primary ml-1", onclick= destination) Update
                    td
                      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/guitar/detail?id=${guitar._id}\")`) Details
                    td
                      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/guitar/delete?id=${guitar._id}\")`) Delete
                script.
                    function dispatch(path){
                      window.location.href=path
                    }