extends layout

block content
  h1= title
  - let guitars = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:red;color:white") 
            tr
                td Guitar ID
                td Guitar Brand 
                td Guitar Color 
                td Guitar Cost 
        tbody 
            each guitar in guitars 
                tr
                    td #{guitar._id}
                    td #{guitar.GBrand}
                    td #{guitar.Gcolor}
                    td #{guitar.GCost}